<!DOCTYPE html>
<html lang="en">
<head>
  <title>Customers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<div class="container"  >
  <h2>Customers</h2>
  <p class="hrefbtn"><a href="/create">Add Customer</a></p>
  <table id="table" class="table table-hover table-dark">
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Name</th>
        <th>Sex</th>
        <th>Phone Number</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

</body>
<script>

    $(document).ready(function(){

        $.ajax({
            url: '/api/customer',
            type: 'GET',
            dataType: 'JSON',
            success: function (response) {
                $.each(response.data, function(i, item) {
                    $("tbody").append(
                        "<tr>"
                            + "<td><img src='" + item.avatar + "' id='myPic' class='animated'></td>"
                            + "<td>" + item.name + "</td>"
                            + "<td>" + item.sex + "</td>"
                            + "<td>" + item.phone_number + "</td>"
                            + "<td>" + "<a class='delbtn' data-id='" + item._id + "'>Delete</a> | <a class='updbtn' data-id='" + item._id + "'>Update</a>" + "</td>"
                        +"</tr>" )
                })
            }
        });

        $("#table").on("click", ".delbtn", function() {

          if (confirm('Delete Selected Customer ?')) {
              $.ajax({
                url: '/api/customer/' + $(this).data('id'),
                type: 'DELETE',
                success: function (response) {
                    location.reload();
                }
              });;
          }
        
        });
           
        $("#table").on("click", ".updbtn", function() {
            window.location.href = "/create?id=" + $(this).data('id');
        });

    });

</script>
</html>